<section class="row m-0">
    <section class="col my-auto text-center" id="sideBar">
      <h2 class="d-flex justify-content-center text-center display-3 fw-bold lh-base text-dark_blue">VA <br>Support</h2>
    </section>
    <section class="col bg-white" >
        <div class="container" >
            <div class="row " style="min-height: 100vh;">