<%- include ('../partials/header'); %>
<section class="container">
  <section class="row" style="min-height: 90vh;">
    <div class="  align-self-center">
      <div class="col-6 offset-3">
          <%- include ('../partials/flash'); %>
      </div>        
        <%- include ('../partials/vaImage'); %>
      <h2 class="h2 mb-3 text-center text-white">Welcome to VA Ticket Tracker</h2>
      <div class="text-center gx-5 ">
          <% if(currentUser && currentUser !== undefined) {  %>
        <a href="/tickets/create" class="btn btn-primary">Log a ticket &nbsp; <i class="fas fa-ticket-alt"></i></a>
        <a href="/tickets" class="btn btn-primary">View all Logged Ticket &nbsp; <i class="fas fa-clipboard-list"></i></a>
        <a href="/logout" class="btn btn-danger">Logout <i class="fas fa-sign-out-alt"></i></i></a>
        <% } else {%>
        <a href="/identify" class="btn btn-primary">Identity <i class="fas fa-fingerprint"></i></a> 
        <% } %>
      </div>
    </div>
  </section>
</section>
<%- include ('../partials/footer'); %> 