<%- include ('../partials/header'); %>
<section class="container">
  <section class="row" style="min-height: 90vh;">
    <div class="  align-self-center">
        <%- include ('../partials/vaImage'); %>
      <h2 class="h2 mb-3 text-center text-white">Welcome to VA Ticket Tracker</h2>
      <div class="text-center gx-5">
        <a href="/tickets/create" class="btn btn-primary">Log a ticket</a>
        <a href="/tickets" class="btn btn-primary">View all Logged Ticket</a>
      </div>
    </div>
  </section>
</section>
<%- include ('../partials/footer'); %> 